.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #111;
    color: #fff;
    padding-top: 60px;
    z-index: 1000;
    transform: translateX(-250px);
    transition: transform 0.3s ease-in-out;
  }
  
  .sidebar.show {
    transform: translateX(0);
  }
  
  .sidebar a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #575757;
  }
  
  .toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1100;
    font-size: 30px;
    color: #768aa5;
    background: none;
    border: none;
    cursor: pointer;
  }
  